/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/*CSS components*/
@import url("components/cards.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/footer.css");



/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}


.now {
background: linear-gradient(270deg, #ffb929, #29ffbf, #5429ff, #ff29be, #ffb829, #29ff57, #ff8029, #a929ff, #a929ff);
background-size: 1800% 1800%;

animation: testGradient 0.3s ease infinite;
}
/* Custom design below! */

@keyframes testGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
}
