body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#home-container1 {
  width: 100vw;
  height: 100vh;
  background-color: #161925;
  display: grid;
  place-items: center;
  overflow: hidden;
  max-width: 100%;
}

/*Main text */
#home-container1 pre {
  color: white;
  font-family: 'Raleway', sans-serif;
  max-width: 85vw;
  font-weight: 400;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 15%;
}

/*Accentuated text*/
#home-container1 span {
  font-weight: 500;
  color: #0DAB8E;
}

#contactlogo img {
  width: 180px;
  margin-top: 15%;
}

/*Blinking arrow on main screen */
#downarrow {
  color: white;
  font-size: 50px;
  animation: blinkingarrow 2.4s ease-in-out infinite;
}

@keyframes blinkingarrow{
  0%{
    color: #161925;
  }
  50%{
    color: #0DAB8E;
    filter: drop-shadow(0 0 1px #FFFFFF);
  }
  100%{
    color: #161925;
  }
}

/*Star animation, one on each side of the text*/
#stars {
  position: absolute;
  top: 20%;
  width: 100vw;
  max-width: 100%;
}

.star {
  position: absolute;
  height: 120px;
  width: 4px;
  background: linear-gradient(-45deg, #1EBC9F, rgba(255, 255, 255, 0));
  filter: drop-shadow(0 0 6px #FFFFFF);
  animation: tail 6s ease-in-out infinite,
             falling 6s ease-in-out infinite;
}

.star:nth-child(1) {
  right: 10%;
}

.star:nth-child(2) {
  left: 10%;
}

.star::before, .star::after{
  content: '';
  position: absolute;
  top: 50%;
  height: 120px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #1EBC9F, rgba(255, 255, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
}

@keyframes tail{
  0%{
    height: 0;
  }
  30%{
    height: 200px;
  }
  100%{
    height: 0;
  }
}

@keyframes falling{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(600px);
  }
}

#home-container2 {
  width: 100vw;
  height: 100vh;
  background-color: #FEFEFE;
  overflow: hidden;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "picture maintext"
    "picture maintext"
    "technos technos"
}

#home-container2 > #picture {
  display: grid;
  grid-area: picture;
  margin: 50px 50px 50px 100px;
  place-items: center;
}

#picture img {
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 0px #0DAB8E;
}

#home-container2 > #technos {
  grid-area: technos;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#home-container2 > #maintext {
  grid-area: maintext;
  margin: 50px 100px 50px 50px;
  display: grid;
  place-items: center;
}

#maintext p {
  color: #161925;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 25px;
  max-width: 100%;
  text-align: justify;
  text-justify: inter-word;
}

#maintext a {
  color: #0DAB8E
}
#maintext a:hover {
  color: #1EBC9F;
}

#technos img {
  max-height: 50%;
  max-width: 50%;
  height: 100px;
  margin: 0 auto;
  filter: grayscale(100%);
  animation: grayscaleblinking 10s ease-in-out infinite;
}

#technos img:nth-child(2){
  animation-delay: 2s;
}

#technos img:nth-child(3){
  animation-delay: 4s;
}

#technos img:nth-child(4){
  animation-delay: 6s;
}

#technos img:nth-child(5){
  animation-delay: 8s;
}

@keyframes grayscaleblinking{
  0%{
    filter: grayscale(100%);
  }
  10%{
    filter: grayscale(0%);
  }
  20%{
    filter: grayscale(100%);
  }
}

#home-container3 {
  width: 100vw;
  height: 20vh;
  background-color: #161925;
  display: grid;
  place-items: center;
  overflow: hidden;
  max-width: 100%;
}

#websites img {
  width: 50px;
  margin: 30px 20px 0px 20px;
}

#websites img:hover {
  filter: invert(68%) sepia(54%) saturate(7406%) hue-rotate(163deg) brightness(96%) contrast(101%)
}

#email {
  margin-top: 25px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#email:hover {
  color: #0DAB8E;
}

.content {
  display: grid;
  place-items: center;
}

/*Phone*/

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .star {
    display: none;
  }
  #contactlogo img {
    width: 100px;
    top: -200px;
    margin: 0 auto;
  }
  #home-container1 pre {
    font-size: 20px;
    top: 40%;
    width: 300px;
    text-align: center;
  }
  #home-container2 {
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "picture"
    "maintext"
    "technos"
  }
  #home-container2 > #picture {
    margin: 100px 100px 25px 100px;
  }
  #home-container2 > #maintext {
  grid-area: maintext;
  margin: 0px 50px 50px 50px;
  display: grid;
  place-items: center;
  }
  #maintext p {
  font-size: 20px;
  }
  #technos img {
  max-height: 100%;
  max-width: 100%;
  height: 40px;
  margin: 0 5px;
  padding: 0 5px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .star {
    display: none;
  }
  #contactlogo img {
    width: 100px;
    top: -200px;
    margin: 0 auto;
  }
  #home-container1 pre {
    font-size: 25px;
    top: 40%;
  }
  #home-container2 {
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "picture"
    "maintext"
    "technos"
  }
  #home-container2 > #picture {
    margin: 100px 100px 25px 100px;
  }
  #home-container2 > #maintext {
  grid-area: maintext;
  margin: 0px 50px 50px 50px;
  display: grid;
  place-items: center;
  }
  #maintext p {
  font-size: 20px;
  }
  #technos img {
  max-height: 100%;
  max-width: 100%;
  height: 40px;
  margin: 0 5px;
  padding: 0 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .star {
    display: none;
  }
  #contactlogo img {
    width: 150px;
    top: -200px;
    margin: 50px auto;
  }
  #home-container1 pre {
    font-size: 32px;
    top: 55%;
  }
  #home-container2 {
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "picture"
    "maintext"
    "technos"
  }

  #home-container2 > #picture {
    margin: 100px 250px 25px 250px;
  }

  #home-container2 > #maintext {
  grid-area: maintext;
  margin: 0px 50px 50px 50px;
  display: grid;
  place-items: center;
  }
  #maintext p {
  font-size: 20px;
  }
  #technos img {
  max-height: 100%;
  max-width: 100%;
  height: 80px;
  margin: 0 5px;
  padding: 0 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1600px) {
  #contactlogo img {
    width: 150px;
    top: -200px;
    margin: 50px auto;
  }
  #home-container1 pre {
    font-size: 32px;
    top: 55%;
  }
  #home-container2 {
  width: 100vw;
  height: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "picture maintext"
    "picture maintext"
    "technos technos"
  }
  #home-container2 > #picture {
    margin: 25px 25px 75px 50px;
  }
  #home-container2 > #maintext {
  grid-area: maintext;
  margin: 0px 50px 50px 50px;
  display: grid;
  place-items: center;
  }
  #maintext p {
  font-size: 20px;
  }
  #technos img {
  max-height: 100%;
  max-width: 100%;
  height: 80px;
  margin: 0 5px;
  padding: 0 5px;
  }
  @keyframes falling{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(350px);
  }
}
}

